absl-py==2.3.1
addict==2.4.0
asttokens
biopython
bioservices==1.12.1
Brotli
cached-property
certifi
cffi
chardet
charset-normalizer
cloudpickle==3.1.2
colorama
comm
contourpy
cycler
debugpy
decorator
dgl-cu113==0.9.1.post1
dgllife==0.3.2
et_xmlfile
exceptiongroup
executing
filelock==3.19.1
fonttools
freetype-py
fsspec==2025.10.0
future==1.0.0
fuzzywuzzy
gemmi
graphviz==0.21
greenlet
grpcio==1.76.0
h2
h5py
hf-xet==1.2.0
hpack
huggingface-hub==0.36.0
hyperframe
hyperopt==0.2.7
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
Levenshtein
llvmlite==0.41.1
Markdown==3.9
matplotlib==3.9.4
matplotlib-inline
meeko
ml_collections==0.1.1
munkres==1.1.4
nest_asyncio
networkx
numba==0.58.1
numpy
openpyxl
packaging
pandas==1.3.5
parso
patsy
pexpect
pickleshare
pillow
platformdirs
ply
Pmw
ProDy
prompt_toolkit
protobuf==6.33.2
psutil
ptyprocess
pure_eval
py4j==0.10.9.9
pycairo==1.28.0
pycparser
Pygments
pymol==3.1.0
pyparsing
PyQt6==6.7.1
PyQt6_sip
pyscf==2.11.0
PySide6==6.7.3
PySocks
PyTDC
python-dateutil
python-Levenshtein
pytz
PyYAML
pyzmq
RapidFuzz
rdkit==2024.3.2
rdkit-pypi==2022.9.5
regex==2025.11.3
reportlab
requests
rlPyCairo
safetensors==0.7.0
scikit-learn
scipy
seaborn
shiboken6==6.7.3
sip
six
SQLAlchemy
stack_data
statsmodels
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl
timeout-decorator==0.5.0
tokenizers==0.22.1
tomli
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tornado
tqdm
traitlets
transformers==4.57.3
typing_extensions
tzdata
unicodedata2
unimol-tools==0.1.4.post1
urllib3
wcwidth
Werkzeug==3.1.4
zipp
zstandard==0.23.0
